<div class="main">
  <div class="blog-title">
    <%= @blog.title %>
  </div>
  <div class="blog-text">
    <%= simple_format(@blog.text) %>
  </div>
  <div class="btns">
   <% if user_signed_in? && current_user.id == @blog.user_id %>
   <div classs="btn">
     <%= link_to '編集', "/blogs/#{@blog.id}/edit", method: :get %>
   </div>
  <div class="btn">
    <%= link_to '削除', "/blogs/#{@blog.id}", method: :delete %>
  </div>
  <% end %>
  </div>
  
  <div class="container">
    <% if current_user %>
      <div class="nickname"><%= current_user.nickname %>さん</div>
      <%= form_tag("/blogs/#{@blog.id}/comments",method: :post) do %>
      <textarea name="text" placeholder="コメントする", rows="2" cols="30"></textarea>
      <input type="submit" value="コメントを投稿">
      <% end %>
      <% end %>
    
  <div class="comments">
    <h3>コメント一覧</h3>
    <% if @comments %>
    <% @comments.each do |comment| %>
    <div class="nickname"><%= comment.user.nickname %>さん</div>
    <%= comment.text %>
    <% end %>
    <% end %>
  </div>
  </div>
  <%= link_to 'トップに戻る', root_path %>
</div>