<!DOCTYPE html>
<html>
  <head>
    <title>Miniblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1><a class="title" href="/blogs">Blog</a></h1>
      <% if user_signed_in? %>
      <div class="header-nav">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post' %>
        <%= link_to "投稿する", "/blogs/new", method: :get, class: 'post' %>
      </div>
      <% else %>
      <div class="header-nav">
        <%= link_to "ログイン", new_user_session_path, method: :get, class:"post" %>
        <%= link_to "新規登録", new_user_registration_path, method: :get, class:"post" %>
      </div>
      <% end %>
    </header>
    
    <%= yield %>
    
  </body>
  <footer>
    <div class="footer">
      <p class="copywrite">Copywrite miniblog 2020</p>
    </div>
  </footer>
</html>
